* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body {
  background-color: black;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  text-decoration-line: none;
  text-decoration-color: none;
}

a:visited,
a:link {
  color: black;
}

.main-container {
  max-width: 1500px;
  margin: 2rem auto;

  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item {
  background-color: yellowgreen;
  aspect-ratio: 1/1;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem white;
  transition: all 300ms ease;
}
.item:hover {
  scale: 1.1;
}

header h1 {
  text-align: center;
  padding-block: 2rem;
  background-color: black;
}

.ball {
  position: fixed;
  width: 4rem;
  aspect-ratio: 1/1;
  backdrop-filter: invert(1);
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
}
