* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-clr: black;
  --back-clr: white;
}

.dark {
  --text-clr:white;
  --back-clr:black;
}

body {
  background-color: var(--back-clr);
  color: var(--text-clr);
}

header h1 {
  text-align: center;
}

section {
  font-size: 1.2rem;
  margin-top: 2rem;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 1em;
  font-size: 2rem;
}
